<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Box event-analytics</title>
</head>
<body>
Welcome Box Developer !..
<form action="/home" method="POST">
<input type="text" placeholder="token" name="token">
<button type="submit">Submit</button>
</form>
</body>
</html>
