<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Box event-analytics</title>
</head>
<body>
Welcome Box Developer !..
<form action="/home" method="POST">
<input type="text" placeholder="token" name="token" required>
<input type="text" placeholder="EID" name="EID" required>
<select name="type">
  <option value="volvo">Enterprise</option>
  <option value="saab">User</option>
</select>
<button type="submit">Submit</button>
</form>
</body>
</html>
